/* standard div design */

.design-container {
    background-color: rgb(250, 250, 250);
    position: fixed;
    text-align: center;
    justify-content: center;
    padding: 8%;
    top: 8%;
    bottom: 10%;
    left: 10%;
    right: 10%;
    border-radius: 20px;
    border: 1px solid purple;
    box-shadow: 0 0px 25px rgb(171, 73, 171);

}